langchain
langchain-core
langchain-community
langchain-text-splitters
langchain-groq
openai
langchain-huggingface
sentence-transformers
huggingface-hub
chromadb
faiss-cpu
pypdf
unstructured
python-dotenv
flask
pydantic
tiktoken
numpy
pandas
requests
torch
accelerate
bcrypt==4.1.3
PyJWT==2.8.0
docx2txt
unstructured
google-cloud-storage
pytesseract